.navbar{
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    z-index: 99;
}


.introSection,.myskills{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09a787;
}
.text,.text2{
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: white;
    text-align: center;
}
.myimage, .myimage img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.myimage{
    box-shadow: 0 0 10px 10px #04473a;
}

.aboutSection,.myworkSec{
    background-color: #d4fff6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: fit-content;
}
.text2{
    color: #2c3e50;
   margin-top: 1rem;
   padding: 2rem;
}
.text2 h5{
    
    line-height: 170%;
}

.myskills{
    justify-content: flex-start;
    height: 400px;
    padding: 2rem;
    height: auto;
    color: white;
}
.showskills{
    width: 60%;
    min-width: 380px;
    
}
.showskills>h4{
    margin-top: 1rem;
}
.progress{
    height: 1.25rem;
    border-radius: 2rem;
}
.progress-bar{
    background-color: rgb(255, 193, 58);
}

.myworkSec{
    padding: 1rem;
    
}

.projectsdisplay{
    width: 80%;
    min-width: 380px;
    margin-top: 2rem;
}
.card{
    border-radius: 1rem;
}
.card img{
    height: 350px;
}